.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.page{
	padding: 0 30px;
	font-size: 12pt;
	width: 1000px;
}

.header{
	clear: both;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}

.headerInfo{
	position: relative;
}

.seal{
	float: right;
	clear: both;
}

.patientDetails{
	border: 1px solid #000;
	padding: 5px 10px;
	display: inline-block;
	width: 350px;
}

.headerDetails{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 40%;
	font-size: 15px;
}

.noteDates{
	position: absolute;
	top: 10px;
	right: 10px;
}

#OphTrIntravitrealinjection_print .left { clear: left; float: left; width: 48%; position: relative; }
#OphTrIntravitrealinjection_print .right { clear: right; float: right; width: 48%; position: relative; }

.label { float: left; width: 250px; }
.data {display: inline-block; width: 200px; }

.eventDetail:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.cols2 {
	border: 1px solid #000;
	padding: 10px;
}

.metaData {
	margin-top: 20px;
}

.metaData span.info {
	font-style: italic;
	display: inline-block;
	width: 100%;
}